.icon {
  width: 20px;
  height: 20px;
}

/* Позиционируется относительно родителя, у которого position:relative (любой отличный от statik) */
.product {
  position: relative;
  width: 370px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

/* Если необходимо что-бы все вмест с фоном и кнопками передвигалось, оборачиваем в один диф и присваеваем ему все эти свойства для всех вложенных элементов */
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0, 0.5);

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-overlay {
  transform: translateX(0);
}

/* .product-thmd:hover::before {
  opacity: 1;
} */
.product-actions {
  position: absolute;
  display: flex;
  /* позиционируется нижний правый угол контейнера
  bottom: 50%;
  right: 50%; */

  /* Позиционируется срого по центру */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 3px solid orange;
  /* Прозрачность */
  /* opacity: 0; */
  /* Анимация */
  transition: 500ms opacity linear;
}

.product:hover .product-actions {
  opacity: 1;
}

.box {
  position: absolute;
  width: 20px;
  height: 20px;
}

.one {
  top: 0;
  right: 0;
  background-color: blue;
}

.two {
  top: 0;
  left: 0;
  background-color: brown;
}

.three {
  bottom: 0;
  right: 0;
  background-color: aqua;
}

/* Если применять дисплей флекс и джастеай-контент и елайн-итем то все по все по центру элементы станут, в примере выше указано поотдельности */

/*ФИКСИРОВАННОЕ ПОЗИЦИОНИРОВАНИЕ */

:root {
  --header-height: 100px;
}

.body {
  padding-top: var(--header-height);
}

.page-header {
  position: fixed;
  /*При position: fixed контент схлопывается, нужно задавать   width: 100%;
    min-height: 80px; */
  width: 100%;
  min-height: var(--header-height);
  /* Включение координат относительно вьюпорта */
  /* top: 0;
    left: 0; */
  background-color: rgb(255, 165, 0, 0.5);
  outline: 1px solid black;
}

/* Защита от копирования текста: */

.text-one {
  user-select: none;
}

/* Выподающие меню */
/* -- Псевдоклассы before/after -- */

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 15px;
  outline: 2px solid tomato;
}

.menu-link {
  position: relative;
  display: block;
  padding: 10px 28px;

  text-decoration: none;
  background-color: teal;
  color: white;
}

.menu-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  /* Для того что-бы сделать Слева на право анимацию: */
  /* width: 0%; */

  width: 100%;
  height: 5px;

  background-color: tomato;

  /* opacity: 0; */
  /* transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Точка трансформации, если даже не задавать, по умолчанию стоит центр */
  transform-origin: center;
  transform: scaleX(0);
}

.menu-link:hover::after {
  /* просто появляется и исчезает: */
  /* opacity: 1; */
  /* Слева на право появляется: */
  /* width: 100%; */
  transform: scaleX(1);
}

.menu-item:hover .submenu {
  display: block;
}

.menu-item:hover .menu-link {
  background-color: blue;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: violet;
  display: none;
}

/* --- Анимация Смещение иконок--- */

.btn {
  position: relative;
  display: inline-flex;
  border: none;
  margin: 0;
  margin-bottom: 100px;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: teal;
  color: #fff;
  font: inherit;
  cursor: pointer;
  /* можно подробно */
  transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: linear;
  /* Можно записать в одну строку */
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.btn::before,
.btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background-size: contain;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  margin-right: 5px;

  background-image: url(../img/instagram.svg);
}

.btn:hover::before,
.btn:focus::before {
  /* Сдвигается вверх на 35px */
  transform: translateY(-35px);
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(calc(-50% + 35px));
  background-image: url(../img/twitter.svg);

  /* Сдвигается вверх на 35px */
  /* transform: translateY(-35px); */
}

.btn:hover::after,
.btn:focus::after {
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus {
  background-color: blueviolet;
  color: red;
}

.scene {
  width: 200px;
  height: 200px;
  border: 2px solid green;
  /* Лучше применять перспективу на родителя, т.к. если будет несколько элементов, то будет более правильная перспектива */
  perspective: 600px;
}

.box-start {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  background-image: url(../img/instagram.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: transform 500ms linear;
}

/* .box-end {
  width: 100%;
  height: 100%;
  background-color: green;
  background-image: url(../img/facebook.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(0);
  transition: transform 500ms linear;
} */

.scene:hover .box-start {
  transform: scale(1) rotate(1turn);
}

/* .scene:hover .box-end {
  transform: rotateY(180deg);
} */

/* ==== ПРИМЕР КАРТОЧКИ с Выезжающем меню ==== */

.team-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.team-list-link-wrapper {
  display: block;
  text-decoration: none;
  
}

.tem-list-item-img-wraper {
  position: relative;
  overflow: hidden;
}

.team-list-item {
  text-align: center;
  width: 370px;
  margin-right: 50px;
}

.team-list-content {
  padding: 20px 30px;
}

.team-list-item-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
  line-height: 1.714;
  margin-bottom: 8px;
}

.team-list-item-position {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: rgb(85, 85, 85);
  line-height: 1.846;
}

.overlay {
  margin: 0;
  height: 294px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(173, 55, 32, 0.5);
  padding: 25px 10px;
  color: #fff;
  /* Добавляется скрол если текст слишком большой */
  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms linear;
}


.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
transform: translateY(0);
}
